spring:
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: SERVICE-CLIENT
        health-check-interval: 10s
        health-check-critical-timeout: 30s
  application:
    name: SERVICE-CLIENT
  datasource:
    url: jdbc:mysql://localhost:3309/Micro_ClientDB?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8088

management:
  endpoints:
    web:
      exposure:
        include: health,info,discovery

